dcrx
fastapi[all]
psutil
python-jose[cryptography]
passlib[bcrypt]
aiomysql
asyncpg
aiosqlite
sqlalchemy
python-dotenv
click
uvicorn[standard]
sqlalchemy-utils
psycopg2-binary
boto3
google-cloud-storage
azure-storage-blob
fs
python-multipart